$fontRegular: 'Biennale Regular';
$fontBold: 'Biennale Bold';
$fontLight: 'Biennale Light';

$corPrimary: #5E49FF;
$corPrimary3: #25CBD3;
$corPrimary4: #F0F5FF;

$grey: #F4F4F4;
$grey1: #DADADA;
$grey2: #7C7786;
$grey3: #4D4C4D;
$grey4: #333333;
$grey5: #E5E5E5;
$white: #FFF;
$red: #FF0000;

$desktopBreakpoint: 992px;

